<!doctype html>
<html lang="jp">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
    <body>
        <h1>SITE INDEX</h1>

        <ul>
            <li><a href='/SayHello/'>SayHello</a></li>
            <li><a href='/todo/'>To-do</a></li>
            <li><a href='/partsPrice/'>partsPrice</a></li>
        </ul>
		<br>
        <h1>部品検索サイト</h1>

        <ul>
            <li><a href='https://www.digikey.jp/ja/mylists/?cur=JPY' target="_blank">digikey</a></li>
            <li><a href='https://jp.rs-online.com/web/' target="_blank">RS</a></li>
            <li><a href='https://www.chip1stop.com' target="_blank">Chip1</a></li>
        </ul>
    </body>
</html>